body{
    margin:0;
    background:#eef3f8;
    font-family:"Segoe UI";
}

/* Sidebar */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:260px;
    height:100vh;
    background:#1f2937;
    color:white;
    padding-top:20px;
}

.logo{
    text-align:center;
    font-size:25px;
    font-weight:bold;
    margin-bottom:40px;
}

.logo i{
    color:#ff9800;
    margin-right:10px;
}

.menu-item{
    padding:18px 30px;
    cursor:pointer;
    transition:.3s;
    font-size:17px;
}

.menu-item:hover{
    background:#374151;
}

.menu-item.active{
    background:#ff9800;
}

.menu-item i{
    width:30px;
}

/* Main */

.main-content{
    margin-left:260px;
    padding:30px;
}

/* Header */

.header{
    background:white;
    padding:25px;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

/* Statistic */

.stat-card{
    color:white;
    padding:25px;
    border-radius:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-6px);
}

.stat-card h2{
    font-size:35px;
    margin:0;
}

.stat-card i{
    font-size:40px;
    opacity:.3;
}

.blue{
    background:#2563eb;
}

.orange{
    background:#f97316;
}

.yellow{
    background:#f59e0b;
}

.green{
    background:#16a34a;
}

/* Table */

.table-box{
    border:none;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.card-header{
    background:white!important;
    font-size:22px;
    font-weight:bold;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.table th{
    background:#f3f4f6;
}

.table tbody tr:hover{
    background:#f9fafb;
}

/* Button */

.btn{
    border-radius:10px;
}

---nhanvien---

.title-area{
    display:flex;
    align-items:center;
    gap:15px;
}

.title-icon{
    width:55px;
    height:55px;
    border-radius:15px;
    background:#2563eb;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
}

.table td{
    vertical-align:middle;
}

.badge{
    padding:8px 14px;
    font-size:13px;
    border-radius:20px;
}

.input-group-text{
    background:white;
}

.pagination{
    margin-top:25px;
}
/* ===========================
   ModalNV
=========================== */

.modal-content{
    border:none;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 45px rgba(0,0,0,.15);
}

.modal-header-custom{
    background:linear-gradient(135deg,#2563eb,#3b82f6);
    color:white;
    padding:20px 25px;
}

.modal-avatar{
    width:60px;
    height:60px;
    border-radius:18px;
    background:white;
    color:#2563eb;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:26px;

}

.modal-body{
    padding:30px;
}

.form-label{
    font-weight:600;
    color:#374151;
}

.form-control,
.form-select{
    height:48px;
    border-radius:12px;
    border:1px solid #d1d5db;
}

.form-control:focus,
.form-select:focus{
    border-color:#2563eb;
    box-shadow:0 0 0 .2rem rgba(37,99,235,.15);
}

.modal-footer{
    border:none;
    padding:20px 25px;
    background:#f9fafb;
}

.modal-footer .btn{
    min-width:130px;
    height:45px;
    border-radius:10px;
    font-weight:600;
}