body{
    background:#f5f7fb;
}

.top-header{
    background:#fff;
    padding:25px 35px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.menu-tabs{

    margin-top:25px;

    display:flex;

    background:#fff;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.tab-item{

    flex:1;

    height:75px;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    cursor:pointer;

    font-size:18px;

    font-weight:600;

    transition:.3s;

    border-bottom:4px solid transparent;

}

.tab-item:hover{

    background:#f4f7ff;

}

.tab-item.active{

    color:#0d6efd;

    border-bottom:4px solid #0d6efd;

    background:#eef5ff;

}

.table-box{

    margin-top:25px;

    border:none;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 8px 30px rgba(0,0,0,.08);

}

.table-box .card-header{

    background:white;

    font-size:24px;

    font-weight:700;

    border:none;

    padding:20px;

}

.table{

    margin-bottom:0;

}

.table th{

    background:#f5f6fa;

    text-align:center;

}

.table td{

    vertical-align:middle;

    text-align:center;

}